@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* body {
  font-family: "Open Sans", sans-serif;
} */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #adadad;
}
table { 
    /* #ccc */
  border: 1px solid #ccc; 
  border-collapse: collapse;
  margin:0;
  padding:0;
  width: 40%;
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
}
table tr {
  border: 1px solid #ddd;
  padding: 5px;
}
table th, table td {
  padding: 10px;
  /* text-align: center; */
}
table th {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.right {
    display:inline-block;
    margin-right:10000px;
}
.left {
    display:inline-block;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 2px solid #ddd;
    display: block;
    margin-bottom: 10px;
  }
  table td {
    border-bottom: 1px dotted #ccc;
    display: block;
    font-size: 13px;
    text-align: right;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}